.custom-button {
  padding: 10px 15px;
  background-color: #ccabe0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.custom-button:hover:not(:disabled) {
  /* 마우스를 올려놓은 버튼의 배경색을 변경함
  단, 버튼이 활성화된 경우에만 적용 */
  background-color: #ccabe0;
}