.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin : 0 auto;
  max-width: 70%;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #ccabe0;
  outline: none;
}